<tr>
  <td><%= event.event_type %></td>
  <td><%= event.event_start %></td>
  <td><%= event.event_duration %></td>
  <td><%= link_to 'Edit', edit_project_event_path(event.project_id, event.id) %></td>
</tr>
